/* .catalog_page_div {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(186, 84, 84, 1) 65%,
    rgba(252, 176, 69, 1) 100%
  );

  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: 700px;
  padding: 10px;
} */
