.custom_selector_wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.custom_select_div {
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  max-width: 500px;
}

.custom_select_list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #808080;
  border-radius: 5px;
  background: white;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom_select_item {
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.custom_select_error {
  color: rgb(213, 30, 167);
  font-size: 12px;
}

.custom_select_label {
  font-size: 18px;
}
