.button_user_mobile {
  display: block;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  color: #808080;
  border-radius: 30px;
  width: 114px;
  height: 42px;
}

.button_user_mobile:hover {
  background-color: #808080;
  border: 1px solid white;
  color: black;
}

.mobile_modal_icon_div {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.wrapper_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

/* Overlay (фон) */
.overlayBase {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(20, 20, 20, 0); /* початково прозорий */
  transition: background-color 300ms ease;
  z-index: 1000;
}
.overlayAfterOpen {
  background-color: rgba(20, 20, 20, 0.6); /* коли відкрито */
}
.overlayBeforeClose {
  background-color: rgba(20, 20, 20, 0); /* під час закриття */
}

/* Контент (панель меню) */
.contentBase {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  padding: 34px;
  max-width: 420px;
  height: 100%;
  background-color: #808080;
  transform: translateX(100%); /* схована за правим краєм */
  transition: transform 300ms ease;
  z-index: 1001;
  overflow-y: auto;
  /* видалити будь-які inline right/left які можуть перезаписати transform */
}
.contentAfterOpen {
  transform: translateX(0); /* виїхала в позицію */
}
.contentBeforeClose {
  transform: translateX(100%); /* виїжджає назад */
}
