.button_user_mobile {
  display: block;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  color: #d2b48c;
  border-radius: 30px;
  width: 114px;
  height: 42px;
}

.button_user_mobile:hover {
  background-color: #d2b48c;
  border: 1px solid white;
  color: black;
}

.mobile_modal_icon_div {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}
