.button_user_mobile {
  display: block;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  color: #808080;
  border-radius: 30px;
  width: 114px;
  height: 42px;
}

.button_user_mobile:hover {
  background-color: #808080;
  border: 1px solid white;
  color: black;
}

.mobile_modal_icon_div {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.wrapper_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 100px;
}

.ReactModal__Content {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s ease;
}

.ReactModal__Content--after-open {
  transform: translateX(0);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translateX(100%);
  opacity: 0;
}
