.booking_page_div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/img_hero.jpg");
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  min-height: 100vh;
}
