.booking_services_div {
  padding: 10px;
}

.booking_services_list {
}

.booking_services_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: white;
}

.booking_services_btn {
  background-color: #808080;
  color: rgb(255, 255, 255);
}

.booking_services_btn:hover {
  background-color: white;
  border: 1px solid #808080;
  color: #808080;
}
