.booking_services_div {
  padding: 10px;
}

.booking_services_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 10px;
  background-color: white;
}

.booking_services_item_wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.booking_services_btn {
  border-radius: 5px;
  padding: 10px;
  background-color: #808080;
  color: rgb(255, 255, 255);
}

.booking_services_btn:hover {
  background-color: white;
  border: 1px solid #808080;
  color: #808080;
}

.booking_services_btn_info {
  width: 40px;
  height: 20px;
  text-align: center;
  padding: 0;
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
}

.booking_services_price_div {
  display: flex;
  flex-wrap: wrap;
}
