.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-decoration: none;
}

.active {
  color: #000000;
}

.nav_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
