.catalog_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #d2b48c;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

.catalog_item_btn {
  background-color: #d2b48c;
  color: black;
}

.catalog_item_btn:hover {
  background-color: white;
  border: 1px solid #d2b48c;
  color: #d2b48c;
}

.catalog_item_title {
  font-size: 20px;
}

.catalog_item_title_span {
  font-size: 16px;
}
