.reservation_page_div {
  background-image: url("/img_hero13.jpg");
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 1px;
}
