.update_menu_div {
  padding: 10px;
}

.mobile_modal_icon_div {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .home_page_button {
    width: 300px;
    height: 80px;
    font-size: 24px;
  }
}

/* ////// PC //// */

@media (min-width: 1440px) {
}
