.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  padding: 10px;
}

.header_logo {
  background-color: #c0c0c0;
  border-radius: 10px;
  padding-top: 4px;
  width: 50px;
  height: 50px;
}
