.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(213, 30, 167);
  height: 80px;
}

.header_logo {
  display: block;
  color: black;
  font-size: 24px;
  margin: 10px;
}

.header_logo_span {
  color: white;
}

.header_logo:hover {
  color: black;
}
