.header_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(213, 30, 167);
  height: 80px;
  padding: 10px;
}

.header_logo {
  width: 50px;
  height: 50px;
}
