.booking_form_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking_calendar_month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.booking_calendar_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.booking_calendar_day {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.booking_calendar_day:hover {
  background-color: white;
  transform: scale(1.1);
  border-radius: 50%;
}

.active_calendar_day {
  background-color: #4f0e0e;
  border-radius: 50%;
}

.booking_calendar_time {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #808080;
}

.booking_time_btn {
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.booking_time_btn:hover {
  background-color: #ea6f6f;
  transform: scale3d(1.2, 1.2, 1);
}

.active_time_btn {
  background-color: rgb(151, 9, 9);
}

.booking_calendar_service_div {
}

.booking_calendar_service {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  padding: 3px;
  margin: 0;
}

.booking_add_option {
  text-align: center;
  position: relative;
  margin: 5px;
}

.booking_calendar_option_delete {
  width: 30px;
  height: 20px;
  padding: 0;
}

.disabled_day {
  color: #aaa;
  pointer-events: none; /* щоб не можна було клікнути */
  opacity: 0.5;
}
