.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 300px;
  border: 5px solid #808080;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.input {
  font-size: 16px;
  height: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid #808080;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
}

.select {
  font-size: 16px;
  height: 40px;
  background: rgb(255, 255, 255);
  border: 1px solid #808080;
  border-radius: 5px;
  width: 100%;
  max-width: 100%;
}

.errorMessage {
  color: rgb(213, 30, 167);
  font-size: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button {
  width: 120px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: #808080;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: #808080;
  border: 1px solid #808080;
}
.contact_form_div {
  display: flex;
  justify-content: center;
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .form {
    max-width: 500px;
  }

  .input {
    font-size: 18px;
    height: 40px;
  }
}

/* ////// PC //// */

@media (min-width: 1440px) {
}
