.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-image: url("/img_hero13.jpg");
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  min-height: 100vh;
  padding: 10px;
}

.galler_img {
  width: 100%;
  border-radius: 10px;
}

.galler_img:hover {
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .gallery_wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 30px;
  }
}
