.gallery_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.galler_img {
  width: 100%;
  transition: all 0.5s ease;
}

.galler_img:hover {
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .gallery_wrapper {
    gap: 80px;
    margin: 80px;
  }
}
