.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  border: 1px solid rgb(213, 30, 167);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  background: white;
  border-radius: 5px;
}

.input {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(213, 30, 167);
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(213, 30, 167);
  color: white;
  cursor: pointer;
  text-align: center;
  border: none;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(213, 30, 167);
  border: 1px solid rgb(213, 30, 167);
}

.login_form_div {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.login_form_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_page_nav {
  color: rgb(190, 12, 146);
}
