.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  background-color: rgb(30, 28, 28);
  height: 60px;
}

.footer_logo {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.footer_logo_span {
  color: rgb(213, 30, 167);
  font-size: 16px;
  font-weight: 700px;
}

.footer_icon_wrapper {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.footer_icon {
  fill: white;
}

.footer_icon:hover {
  fill: rgb(213, 30, 167);
}
