.home_page_button {
  margin: 100px auto 20px auto;
  display: block;
  border-radius: 12px;
  width: 276px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  background-color: #d2b48c;
  border: none;
  white-space: nowrap;
}

.home_page_button_link {
  padding: 12px 84px;
  color: rgb(0, 0, 0);
}

.home_page_button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid #d2b48c;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  /* background: #fb3f68;
  background: radial-gradient(
    circle,
    rgba(251, 63, 104, 1) 0%,
    rgba(209, 165, 165, 1) 93%
  ); */
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  min-height: 100vh;
  padding-top: 10px;
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .home_page_button {
    width: 300px;
    height: 80px;
    font-size: 24px;
  }
}

/* ////// PC //// */

@media (min-width: 1440px) {
}
