.user_menu_div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_menu_btn {
  display: none;
  background-color: rgb(255, 255, 255);
  color: #808080;
}

.user_menu_btn:hover {
  background-color: #808080;
  border: 1px solid white;
  color: black;
}

.mobile_icon {
  display: flex;
  cursor: pointer;
}

.user_icon_div {
  position: relative;
}

.user_icon {
  fill: #938787;
}

.user_span_icon {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  position: absolute;
  top: 46%;
  left: 46%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .mobile_icon {
    display: none;
  }

  .user_menu_btn {
    margin: 5px;
    display: flex;
  }
}

@media (min-width: 1440px) {
}
