.user_menu_btn {
  display: none;
  background-color: rgb(255, 255, 255);
  color: rgb(213, 30, 167);
}

.user_menu_btn:hover {
  background-color: rgb(213, 30, 167);
  border: 1px solid white;
  color: black;
}

.mobile_icon {
  display: flex;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile_icon {
    display: none;
  }

  .user_menu_btn {
    margin: 5px;
    display: flex;
  }
}

@media (min-width: 1440px) {
}
