.swiper {
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-right: 50px;
}

.swiper_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* ////// TABLET //// */

@media (min-width: 768px) {
  .swiper {
    width: 600px;
    height: 600px;
    margin-top: 50px;
    margin-right: 50px;
  }

  .swiper_img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

/* ////// PC //// */

@media (min-width: 1440px) {
}
